

<% @tools.each do |tool| %>
	<% if tool.loaned == false && tool.hidden == false %>
  		<div>
    		<div><%= tool.display_name %></div>
    		<div><%= tool.make %></div>
  		</div>
  	<%end%>
<% end %>
