<% if @tools_nearby.length > 0 %>

  <%= @tools_nearby.each do |tool| %>
    <div>
      <p><%= tool.display_name %></p>
      <p><%= tool.make %></p>
    </div>
  <% end %>
<% else %>
  <h5>There are no tools of this type in your area. Check back later.</h5>
<% end %>
