<div class="jumbotron">
  <h1 class="display-3">Welcome To Tool Trader</h1>
  <p class="lead">Lend, Borrow, Build</p>
  <p><a class="btn btn-lg btn-success" href="sign-up" role="button">Sign up today</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Lending Tools</h4>
    <p>Post tools you'd like to lend to others in your area</p>

    <h4>Helpful Reviews</h4>
    <p>See reviews for people requesting to borrow tools</p>

  </div>

  <div class="col-lg-6">
    <h4>Borrowing Tools</h4>
    <p>Find tools in your area that others are willing to lend</p>

    <h4>Geolocation</h4>
    <p>Refine your search with distance and types of tools</p>

  </div>
</div>
