<div class='register-form'>
  <form method='post' action='/reviews' >
    <div class='form-group row'>
      <label for='name' class='col-xs-2 col-form-label'>Review</label>
      <div class='col-xs-10'>
        <textarea class='form-control' type="text" name="review" rows="6"></textarea>
        <label for='Stars' class='col-xs-2 col-form-label'>Stars</label>
        <select>
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>

        </select>
      </div>
    </div>
    <button typ='submit' class='btn btn-primary'>Leave Review</button>
  </form>
</div>
